@import 'reset';

$hspace: 20px;
$vspace: 20px;

$font-size: 16px;
$font-size-small: 14px;
$font-size-medium: 22px;
$font-size-large: 30px;
$font-size-xlarge: 42px;

* { box-sizing: border-box; }

.u-offset { display: flex; flex-wrap: wrap; margin-left: -$hspace; margin-right: -$hspace; }

.c-gameboard { max-width: 900px; margin: 0 auto; padding: $vspace*2 $hspace*2; background-color: goldenrod; }

.c-card { width: calc(33% - #{$hspace * 2}); margin: 0 $hspace $vspace*2; text-align: center; border: 1px solid #000; transition: all .2s ease-in-out;
    img { width: 100%; }
    p { margin-bottom: $vspace; }
    &:hover { cursor: pointer; scale: 1.1; }
}